<template src='./analyticsection.html'></template>

<script>
import chart from '../../components/UI/chart';
import contentgrid from '../../components/contentgrid/contentgrid';
import dateTimePicker from '@/components/UI/dateTimePicker';
import recentTimePicker from '@/components/UI/recentTimePicker';

export default {
  props: {
    type: {
      default: null,
      type: String,
    },
    chartConfig: {
      type: Object,
      default: () => ({})
    },
    chartData: {
      type: Object,
      default: () => ({})
    },
    chartType: {
      type: String,
      default: 'bar'
    },
    gridData: {
      type: Array,
      default: () => ([])
    },
    gridHeaders: {
      type: Array,
      default: () => ([])
    },
    callBackMethod: {
      default: null,
      type: String
    },
    callBackMethodParam: {
      default: null,
      type: String
    },
  },

  components: {
    chart,
    contentgrid,
    dateTimePicker,
    recentTimePicker
  },

  data () {
    return {
      activeDateTab: null,
      dateTabs: ['recent 30 min', 'custom dates'],
      showDatePicker: false,
      showRecentTimePicker: false,
      recentTime: 30,
      selectedDates: null,
      startDate: null,
      endDate: null,
    }
  },

  // Methods
  methods: {
    search() {
    },

    callBack(item){
      console.log(item)
    },

    switchDateTab(tab){
      if(tab === 'custom dates'){
        this.showDatePicker = !this.showDatePicker;
        this.showRecentTimePicker = false
      } else {
        this.showRecentTimePicker = !this.showRecentTimePicker;
        this.showDatePicker = false;
      }
    },

    dateSelected(dateRange){
      this.startDate = dateRange.start;
      this.endDate = dateRange.end;
      let dateStr = '';
      if (dateRange.end){
        dateStr = `${dateRange.start} to ${dateRange.end}`;
      } else {
        dateStr = dateRange.start;
      }
      this.selectedDates = dateStr;
      this.showDatePicker = false;
    },

    selectedRecentChange(value){
      // console.log(value);
    }
  }    
}
</script>
