.analytic-section {
    .chart-div {
        min-height:400px;
        height: 90%;
        // border-radius: 5px 0 0 5px;
        // border-color: lightgrey;
        // border-style: solid;
        // border-width: 1px 0px 1px 1px;
    }

    .aggregate-div {
        min-height: 125px;
        height: 90%;
        border-radius: 5px;
        border: 1px solid lightgray;
        margin-top:10px;
        text-align:center;
        padding: 10% 0px 10% 0px;
        span {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: inline-block;
            padding: 5%;
        }
        .value-section{
            div:first-child {
                padding-top: 4%;
                font-size: 24px;
                color: #747c84;
            }
            div:last-child {
                font-size: 12px;
                color: #555E68;
            }
        }
    }

    .ad-section>span{
        background-color: #C6ECFF;
        color: #0196FD; 
    }

    .view-section>span{
        background-color: #C7C6FF;
        color: #6B68FF;
    }

    .sessions-section>span{
        background-color: #C7FFE6;
        color: #2CAF1E;
    }   

    .avg-session-section>span{
        background-color: #C6ECFF;
        color: #0195FF;
    }

    .chart-header{
        padding: 8px 16px 8px 16px;
        color: gray;
        font-size: 12px;
        height: 40px; 
    }

    .vl {
        border-left: 1px solid lightgray;
        height: 20px;
        margin-top: 3px;
        position: relative;
    }

    .chart-area {
        padding: 12px 0px 12px 0px;
    }

    .highlighted-header {
        color: #55BCF7;
    }

    .aggregate-area {
        padding-left: 40px;
        width: 100%;
    }

    .date-widget{
        margin-top:6px;
        position: absolute;
        right: 10.5%;
        z-index:9999;
    }

    .selected-datetime{
        font-size: 12px;
    }
}