<div class="analytic-section">
  <v-layout row wrap>  
    <v-flex xs4 md4>
      <div>
        <contentgrid :sectionType="type" 
                   :id="type" 
                   :data="gridData"
                   :headers="gridHeaders"
                   :callBackMethodParam="callBackMethodParam"
                   @callBackMethod='callBack'></contentgrid>
      </div>
    </v-flex>
    <v-flex xs1 md1><v-spacer></v-spacer></v-flex>
    <v-flex xs7 md7>
      <v-layout row wrap>
        <v-flex xs12>
          <div class="chart-div">
            <v-layout row wrap>
              <v-flex xs12>
                <v-layout row wrap>
                  <!-- <v-flex xs1 md1 text-xs-center>
                   
                  </v-flex> -->
                  <v-flex xs5 md5 text-xs-left>
                    <span class="chart-header">{{type === 'all' ? 'Clips' : type}}</span>
                    <span class="vl"></span>
                    <span class="chart-header highlighted-header">All {{type === 'All' ? 'Clips' : type}}</span>
                  </v-flex>
                  <v-flex xs7 md7 text-xs-right>
                    <v-tabs class="dsb-tab" v-model="activeDateTab" light right hide-slider>
                      <v-tab v-for="tab in dateTabs" :key="tab" @click="switchDateTab(tab)">
                        {{ tab }}<v-icon>keyboard_arrow_down</v-icon>
                      </v-tab>
                    </v-tabs>
                    <dateTimePicker v-show="showDatePicker"
                      class="date-widget" 
                      :startDate="startDate" 
                      :endDate="endDate" 
                      @change="dateSelected"
                      @cancel="showDatePicker=false;"></dateTimePicker>
                    <recentTimePicker :selectedOption="recentTime" 
                      @change="selectedRecentChange" 
                      v-show="showRecentTimePicker"></recentTimePicker>
                  </v-flex>
                </v-layout>  
              </v-flex>
              <v-flex xs12 text-xs-center>
                <div class="chart-area">
                  <chart :data="chartData" :type="chartType" :config="chartConfig"></chart>
                </div>
              </v-flex>
            </v-layout>  
          </div>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <div class="aggregate-area">
          <v-layout row wrap>
            <v-flex xs3 pr-2>
              <div class="aggregate-div ad-section">
                <span>
                  <i class="fa fa-bullhorn" aria-hidden="true"></i>
                </span>
                <div class="value-section">
                  <div>
                    &#8212;
                  </div>
                  <div>
                    Ads Per Hour
                  </div>
                </div>
              </div>
            </v-flex>
            <v-flex xs3 pr-2>
              <div class="aggregate-div view-section">
                <span>
                  <v-icon>timer</v-icon>
                </span>
                <div class="value-section">
                  <div>
                    &#8212;
                  </div>
                  <div>
                    Total Hours Viewed
                  </div>
                </div>
              </div>
            </v-flex>
            <v-flex xs3 pr-2>
              <div class="aggregate-div sessions-section">
                <span>
                  <i class="fa fa-users" aria-hidden="true"></i>
                </span>
                <div class="value-section">
                  <div>
                    &#8212;
                  </div>
                  <div>
                    Sessions
                  </div>
                </div>
              </div>
            </v-flex>
            <v-flex xs3 pr-1>
              <div class="aggregate-div avg-session-section">
                <span>
                  <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                </span>
                <div class="value-section">
                  <div>
                    &#8212;
                  </div>
                  <div>
                    Avg. Session Duration
                  </div>
                </div>
              </div>
            </v-flex>
          </v-layout>
        </div>
      </v-layout> 
    </v-flex>
  </v-layout>

</div>    