<template>
  <div class="all">
    <analyticsection 
      :type="sectionType" 
      :chartData="chartData" 
      :chartType="chartType" 
      :chartConfig="chartConfig"
      :gridData="gridData"
      :gridHeaders="gridHeaders"
      callBackMethod="test"
      callBackMethodParam="clip"
      >
    </analyticsection>
  </div>  
</template>

<script>
import chart from '../../components/UI/chart';
import analyticsection from '../../components/analyticsection/analyticsection';
import { CHART_TYPES } from '../../store/modules/chart';
import { EventBus } from '../../event-bus';
import { clientUtils } from '../../utilities';
import { SocketService } from '../../services';
export default {
  data() {
    return {
      chartData: {
        columns: [
          ['sample', 30, 200, 100, 400, 150, 250],
          ['sample2', 130, 300, 200, 500, 250, 350]
        ]
      },
      chartConfig: {
        axis: {
          x: {
            label: 'X Label'
          },
          y: {
            label: 'Y Label'
          }
        },
        color: {
          pattern: ['#1f77b4', '#aec7e8']
        }
      },
      chartType: 'bar', // 'line', 'spline', 'step', 'area', 'area-step', 'area-spline' are also available to stack
      gridData: [
        { rank:1, clip:'abc', channel:'local', views:10 },
        { rank:2, clip:'abc1', channel:'local', views:103 },
        { rank:3, clip:'abc2', channel:'local', views:102 },
        { rank:4, clip:'abc3', channel:'local', views:23 },
        { rank:5, clip:'abc4', channel:'local', views:323 },
        { rank:6, clip:'abc5', channel:'local', views:1076 },
        { rank:7, clip:'abc6', channel:'local', views:145 },
        { rank:8, clip:'abc7', channel:'local', views:1456 },
        { rank:9, clip:'abc8', channel:'local', views:1087 },
        { rank:10, clip:'abc9', channel:'local', views:35023 },
        { rank:11, clip:'abc10', channel:'local', views:67023 },
        { rank:12, clip:'abc11', channel:'local', views:363 },
        { rank:13, clip:'abc12', channel:'local', views:1433 },
        { rank:14, clip:'abc13', channel:'local', views:113 },
        { rank:15, clip:'abc14', channel:'local', views:7823 },
        { rank:16, clip:'abc15', channel:'local', views:523 },
        { rank:17, clip:'abc16', channel:'local', views:9023 },
        { rank:18, clip:'abc17', channel:'local', views:52023 },
        { rank:19, clip:'abc18', channel:'local', views:34523 },
        { rank:20, clip:'abc19', channel:'local', views:14623 },
      ],
      gridHeaders: [
        { text: 'Rank', align: 'left', sortable: false, value: 'rank', width: '250px' },
        { text: 'Clip', align: 'left', sortable: false, value: 'clip', width: '250px' },
        { text: 'Channel', align: 'left', sortable: false, value: 'channel', width: '250px' },
        { text: 'Views', align: 'left', sortable: false, value: 'views', width: '250px' },
      ],
    };
  },

  components: {
    analyticsection
  },

  computed: {
    sectionType() {
      return clientUtils.camelCaseToDisplayCase(this['$store'].state['sectionType']);
    },
    // gridData() {
    //   return this['$store'].state['chart']['chartGridData'];
    // },
    // chartData() {
    //   return this['$store'].state['chart']['chartData'];
    // }
  },

  watch: {
    sectionType(value) {
      this.$store.dispatch(`${CHART_TYPES.ROOT}${CHART_TYPES.ACTIONS.START_CHART_QUERY}`);
    },
  },

  created() {
    this.$store.dispatch(`${CHART_TYPES.ROOT}${CHART_TYPES.ACTIONS.START_CHART_QUERY}`);
    EventBus.$on('messageReceived', value => {
      SocketService.closeSocket();
      console.log(value);
      // if (value === 'finished') {
      //   this.$store.dispatch(`${CHART_TYPES.ROOT}${CHART_TYPES.ACTIONS.GET_CHART_DATA}`);
      //   this.$store.dispatch(`${CHART_TYPES.ROOT}${CHART_TYPES.ACTIONS.GET_CHART_GRID_DATA}`);
      // }
    });
  },

  // Methods
  methods: {
    camelToTitleCase: clientUtils.camelCaseToDisplayCase,
    search() {
    },
    test(value){
      console.log(value);
    }
  },
  
  beforeDestroy() {
    EventBus.$off('messageReceived');
  }
}
</script>
