.dsb-tab {
  width:auto;;
  .tabs__container{
    height: 30px;
  }

  .tabs__div{
    width: 33%;
  }
  .tabs__item {
    cursor: pointer;
    height: 30px;
    border-radius: 8px 0 0 8px;
    font-size: 11px;
    width: 100%;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    i {
      margin-left: 4px;
      font-size: 12px;
    }
  }
  .tabs__div ~ .tabs__div {
    .tabs__item{
      border-radius: 0;
    }
  }
  .tabs__item:not(.tabs__item--active) {
    color: black;
  }
  .tabs__item.tabs__item--active {
    background: #0DB080;
    color: white;
    i {
      color: white;
    }
  }
  .tabs__div:last-child {
    .tabs__item{
      border-radius: 0 8px 8px 0;
      border-width: 1px;
    }
  }
}

.main-container {
  padding:10px 10%;
}