.vl-calendar {
  display: flex;
  background: transparent;
  // border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #efefef;
}

.vl-calendar-month__day.selected {
  background: #0DB080;
}

.vl-calendar-month__week-day {
  color: #B3B5BA;  
}

.vl-calendar__month {
  margin: 0px;
}

.vl-calendar-month__day:hover:not(.selected) {
  color: white;
  background: #04477B;
}

.vl-calendar-month__day.selected.disabled{
  color: white;
  background: #0DB080;
}