.parent-content-div {
  height: 100%;
}

.analytics-data-grid {
  // height: 70% !important;
  width: 100%;
  border: 1px solid lightgray;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .table__overflow {
    height: 63vh !important;
    overflow: auto !important;
  }

  .search-grid label {
    padding-left:5px; 
  }
  .search-grid i {
    right: 0px;
    position: absolute;
  }
}