<template src='./contentgrid.html'></template>

<script>
import lodash from 'lodash';
export default {
  name: 'ContentGrid',

  // Component properties
  props: {
    id: {
      default: null,
      type: String,
    },
    data: {
      type: Array,
      default: () => ([])
    },
    headers: {
      type: Array,
      default: () => ([])
    },
    callBackMethodParam: {
      default: null,
      type: String
    },
    sectionType: {
      default: null,
      type: String
    }
  },

  data() {
    return {
      search: '',
    };
  },

  // Methods
  methods: {
    callback(item){
      this.$emit('callBackMethod', item[this.callBackMethodParam]);
    }
  },
};
</script>
