<v-app>
  <v-subheader>{{sectionType}}</v-subheader>
  <v-card class="analytics-data-grid">
    <v-card-title>
      <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search" class="search-grid"></v-text-field>
    </v-card-title>
    <div class="grid-container" :id="id">
      <v-data-table hide-actions class="search-grid-data-table" :headers="headers" :items="data" :search="search">
        <template slot="headers" slot-scope="props">
          <th v-for="header in props.headers" :key="header.text" :class="['text-xs-left']">{{ header.text }}</th>
        </template>
        <template slot="items" slot-scope="props">
          <tr :data-index="props.index">
            <td v-for="header in headers" class="text-xs-left search-custom-title-td clickable"  @click="callback(props.item)">{{props.item[header.value]}}</td>
          </tr>
        </template>
      </v-data-table>
    </div>
  </v-card>
</v-app>
  