<template>
  <div id="app">
    <div class="main-container">
      <v-container pa-0 fluid>
        <v-layout row wrap>
          <v-flex xs4 md4>
            <v-layout row wrap>
              <v-flex xs12>
                <v-tabs class="dsb-tab" v-model="activeContentTab" light left hide-slider>
                  <v-tab v-for="tab in contentTabs" :key="tab" ripple @click="switchContentTab(tab)">
                    {{ tab }}
                  </v-tab>
                </v-tabs>
              </v-flex>
            </v-layout>    
          </v-flex>
          <v-flex xs12>
            <div style="padding-top: 20px">
              <router-view></router-view>
            </div>
          </v-flex>
        </v-layout>  
      </v-container>
    </div>    
  </div>
</template>

<script>
import lodash from 'lodash';
import { ROOTSTORE_TYPES } from './store/types';
import store from './store';

export default {
  props: {
    ouId: {
      default: null,
      type: String
    },
  },  
  data () {
    return {
      activeContentTab: null,
      activeDateTab: null,
      contentTabs: ['all', 'LOD', 'live', 'channel'],
      dateTabs: ['ending now', 'custom date'],
    }
  },

  created() {
    this.$router.push({ name: 'all'  });
  },

  computed: {
    analyticsEvent() {
      return this['$store'].state['analyticsEvent'];
    },
  },
  
  watch: {
    analyticsEvent(value) {
      if(!lodash.isEmpty(value)) {
        store.commit(ROOTSTORE_TYPES.MUTATIONS.SET_ANALYTICS_EVENT, {});
        this.$emit('event', value);
      }
    },
  },

  methods: {
    switchContentTab(tab) {
      store.commit(ROOTSTORE_TYPES.MUTATIONS.SET_SECTION_TYPE, tab);
    }
  }
}
</script>
