<template>
  <div class="dateTimeContainer">
    <vlRangeSelector
      :start-date.sync="range.start"
      :end-date.sync="range.end"
    />
    <div>
      <v-layout row wrap>
        <v-flex xs6>
          <v-spacer></v-spacer>
        </v-flex>
        <v-flex xs6 pl-6>
          <div class="button-groups text-xs-right">
            <v-btn small class="form-control cancel mr-2" @click="$emit('cancel')" color="primary">Cancel</v-btn>
            <v-btn small class="form-control submit mr-2" @click="submit" color="primary">Set</v-btn>
          </div>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>
<style>
  .dateTimeContainer {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 10px;    
  }
</style>
<script>
import vlRangeSelector from 'vuelendar/components/vl-range-selector';
import moment from 'moment';
import lodash from 'lodash';

export default {
  name: 'DateTimePicker',
  
  components: {
    vlRangeSelector
  },

  props: {
    startDate: {
      default: null,
      type: String
    },
    endDate: {
      default: null,
      type: String
    }
  },

  data () {
    return {
      range: {
        start: null,
        end: null
      },
      yourValue: null
    }
  },
  
  watch: {
    startDate(newVal, oldVal) {
      this.range.start = newVal;
    },

    endDate(newVal, oldVal){
      this.range.end = newVal;
    }
  },

  methods: {
    submit(){
      this.$emit('change', this.range);
    }
  }
};
</script>