<template>
  <div class="recentTimeContainer">
    <span>Recent</span>
    <div>
      <v-select :items="options" v-model="recent" item-text="name" single-line bottom></v-select>
    </div>
  </div>
</template>
<style>
  .recentTimeContainer {
    background: white;
    border: 1px solid lightgray;
    width: 200px;
    border-radius: 5px;
    text-align: left;
    margin-left: 146px;
    margin-top: 6px;
    padding: 10px;
    position: fixed;
    z-index: 1;
  }
  .recentTimeContainer>span{
    font-size: 14px;
  }  
</style>
<script>
import moment from 'moment';
import lodash from 'lodash';

export default {
  name: 'RecentTimePicker',
  
  props: {
    selectedOption: {
      default: null,
      type: Number
    }
  },

  data () {
    return {
      options: [
        {
          name: '30 Minutes',
          value: 30
        },
        {
          name: 'Last Hour',
          value: 60
        },
        {
          name: 'Last 24 Hours',
          value: 24
        }
      ],
      recent: null
    }
  },
  
  mounted(){
    this.recent = lodash.filter(this.options, ['value', this.selectedOption])[0];
  },

  watch: {
    selectedOption(newVal, oldVal) {
      this.recent = lodash.filter(this.options, ['value', newVal])[0];
      console.log(this.recent)
    },
    recent(newVal, oldVal){
      this.$emit('change', newVal);
    }
  }
};
</script>